.posts-wrapper {
    width: 68%;
    height: 30rem;
    margin: 2rem auto;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.post-card h3 {
    margin: 0.5rem 0;
}

.post-card {
    border-radius: 6px;
    width: 40rem;
    transition: 0.3s;
    padding: 0.5rem 1rem;
}

.post-card:hover {
    transition: 0.3s;
    transform: scale(1.01);
    background-color: rgba(3, 65, 119, 0.3);
}


@media only screen and (max-width: 1300px) {
    .posts-wrapper {
        /* width: 68%; */
        height: auto;
        margin: 2rem auto;
        overflow: auto;
    }

    .post-card {
        border-radius: 6px;
        width: auto;
        transition: 0.3s;
        padding: 0.5rem 1rem;
    }
}