.project-full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.allprojects-wrapper {
  height: 30rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tabs {
  width: 40%;
  margin: 2rem 0rem;
}

.tab {
  display: flex;
  flex-direction: row;
}

.project-card {
  border-radius: 6px;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.project-image-wrapper {
  width: 40%;
  height: 30rem;
  margin-right: 5rem;
  margin-top: 2rem;
  overflow-y: scroll;
}

.project-image {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.project-card:hover {
  transition: 0.3s;
  transform: scale(1.01);
  background-color: rgba(3, 65, 119, 0.3);
}

@media only screen and (max-width: 900px) {
  .project-image-wrapper {
    display: none;
  }

  .allprojects-wrapper {
    width: auto;
    height: auto;
    overflow: auto;
    /* overflow-y: scroll; */
  }

  .tabs {
    width: auto;
    margin: 2rem 4rem 2rem 0rem;
  }
}
