.sidenav {
    position: absolute;
    margin-left: 10rem;
    margin-top: 2.5rem;
    width: 15rem;
}

.sidenav h2,
.sidenav p {
    margin: 0;
}

.sidenav div {
    margin-bottom: 2rem;
}

.status-details {
    color: #988D99;
}

.icon { 
    margin-right: 0.7rem;
    color: #889CB2;
}