body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #062140;
}

h1, h2, h3, h4, p {
  color: #FFFCF3;
}

a {
  text-decoration: none;
}

::selection {
  background: #FF7373; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #FF7373; /* Gecko Browsers */
}

/* 
pink: #FF7373
light-blue: #034077
grey-blue: #889CB2
grey-red: #988D99
*/
